<!-- input cerca -->
<div class="sm:hidden">
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Search" [(ngModel)]="name" />
    <svg
      (click)="filter()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </label>
</div>
<div class="grid grid-cols-12 gap-4 mt-5">
  <!-- side filtri -->
  <div class="col-span-12 md:col-span-3 hidden sm:block">
    <h4>Fitra Prodotti</h4>
    <!-- contenitore filtri -->
    <div class="sticky top-12 pt-5">
      <label class="input input-bordered flex items-center gap-2">
        <input
          type="text"
          class="grow"
          placeholder="Search"
          [(ngModel)]="name"
        />
        <svg
          (click)="filter()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70 hover:cursor-pointer stroke-white hover:scale-125"
        >
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </label>
      <!-- input select -->
      <label class="form-control w-full max-w-xs mt-3">
        <div class="label">
          <span class="label-text">Select the category</span>
        </div>
        <select [(ngModel)]="category" class="select select-bordered">
          <option value="" selected>Pick one</option>
          <option value="{{ cat.name }}" *ngFor="let cat of categoryArr">
            {{ cat.name }}
          </option>
        </select>
      </label>
      <!-- price min/max -->
      <div class="flex">
        <label class="form-control w-1/2 pe-1 max-w-xs mt-3">
          <div class="label">
            <span class="label-text">Min Price:</span>
          </div>
          <select [(ngModel)]="minPrice" class="select select-bordered">
            <option value="" selected>Pick one</option>
            <option value="{{ price }}" *ngFor="let price of minPriceArr">
              {{ price }}
            </option>
          </select>
        </label>
        <label class="form-control w-1/2 ps-1 max-w-xs mt-3">
          <div class="label">
            <span class="label-text">Max Price:</span>
          </div>
          <select [(ngModel)]="maxPrice" class="select select-bordered">
            <option value="" selected>Pick one</option>
            <option value="{{ price }}" *ngFor="let price of maxPriceArr">
              {{ price }}
            </option>
          </select>
        </label>
      </div>
    </div>
  </div>
  <!-- contenitore contenuto -->
  <div class="col-span-12 md:col-span-9">
    <!-- contenuto -->
    <div class="flex flex-wrap gap-5 sm:ms-5">
      <div
        *ngFor="let item of product"
        routerLink="/shopPage/product/{{ item.id }}"
        class="card card-compact bg-base-100 w-64 h-72 shadow-xl cursor-pointer"
      >
        <div class="rounded-t-xl overflow-hidden h-1/2">
          <figure>
            <img src="{{ item.imageUrls[0] }}" alt="{{ item.name }}" />
          </figure>
        </div>
        <div class="card-body h-1/2">
          <h2 class="card-title text-base">{{ item.name }}</h2>
          <p class="truncate">{{ item.description }}</p>
          <div class="card-actions justify-between items-center">
            <p class="ms-2 text-base font-semibold">
              {{ item.price | currency : "EUR" }}
            </p>
            <button class="btn btn-sm btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <!-- bottoni pagine -->
    <div *ngIf="pageable?.totalElements" class="join flex justify-end">
      <button (click)="decrementa()" class="join-item btn">«</button>
      <button class="join-item btn">
        Page {{ currentPage + 1 }}/{{ pageable.totalPages }}
      </button>
      <button (click)="incrementa()" class="join-item btn">»</button>
    </div>
  </div>
</div>
