input {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

input:focus {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

.container {
  height: 95vh;
}
