<div class="min-h-screen flex items-center justify-center">
  <div class="bg-secondary p-8 rounded-lg shadow-lg max-w-md w-full">
    <div class="flex flex-col text-center items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="144"
        height="144"
        viewBox="0 0 48 48"
      >
        <path
          fill="#B0D7CE"
          d="M36,42H12c-3.314,0-6-2.686-6-6V12c0-3.314,2.686-6,6-6h24c3.314,0,6,2.686,6,6v24C42,39.314,39.314,42,36,42z"
        ></path>
        <path
          fill="#202431"
          d="M34.585 14.586L21.014 28.172 15.413 22.584 12.587 25.416 21.019 33.828 37.415 17.414z"
        ></path>
      </svg>
      <div>
        <h2 class="text-2xl font-bold mb-2">Grazie per il tuo acquisto!</h2>
        <p class="text-gray-600 mb-6">
          Il tuo ordine è stato completato con successo. Riceverai una conferma
          via email a breve.
        </p>
        <a routerLink="" class="btn btn-primary w-full"
          >Continua a fare shopping</a
        >
      </div>
    </div>
  </div>
</div>
