<section class="container px-5">
  <div class="flex justify-between items-baseline mt-8">
    <h2 class="text-2xl font-semibold mt-3 over">Ticket</h2>
    <button
      routerLink="/adminDashboard/gestioneUtenti"
      class="btn btn-primary btn-sm"
    >
      Gestisci Ruoli Utenti
    </button>
  </div>

  <!-- stats -->
  <div
    *ngIf="stats"
    class="flex bg-base-300 rounded-md stats-vertical lg:stats-horizontal w-full shadow-md my-4"
  >
    <div class="stat py-2 flex align-middle items-center w-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="38"
        height="38"
        viewBox="0 0 48 48"
        fill="currentColor"
      >
        <path
          d="M35.5,6h-23C8.916,6,6,8.916,6,12.5v23c0,3.584,2.916,6.5,6.5,6.5h23c3.584,0,6.5-2.916,6.5-6.5v-23	C42,8.916,39.084,6,35.5,6z M15.5,32c-1.381,0-2.5-1.119-2.5-2.5c0-1.381,1.119-2.5,2.5-2.5s2.5,1.119,2.5,2.5	C18,30.881,16.881,32,15.5,32z M15.5,22c-1.381,0-2.5-1.119-2.5-2.5c0-1.381,1.119-2.5,2.5-2.5s2.5,1.119,2.5,2.5	C18,20.881,16.881,22,15.5,22z M24,32c-1.381,0-2.5-1.119-2.5-2.5c0-1.381,1.119-2.5,2.5-2.5s2.5,1.119,2.5,2.5	C26.5,30.881,25.381,32,24,32z M24,22c-1.381,0-2.5-1.119-2.5-2.5c0-1.381,1.119-2.5,2.5-2.5s2.5,1.119,2.5,2.5	C26.5,20.881,25.381,22,24,22z M32.5,22c-1.381,0-2.5-1.119-2.5-2.5c0-1.381,1.119-2.5,2.5-2.5s2.5,1.119,2.5,2.5	C35,20.881,33.881,22,32.5,22z"
        ></path>
      </svg>
      <div class="font-xl font-bold">Today</div>
    </div>

    <div class="stat py-2">
      <div class="stat-title">Total Ticket</div>
      <div class="stat-value text-2xl">{{ stats.totalTickets }}</div>
    </div>

    <div class="stat py-2">
      <div class="stat-title">In esecuzione</div>
      <div class="stat-value text-2xl">{{ stats.inEsecuzione }}</div>
    </div>

    <div class="stat py-2">
      <div class="stat-title">Completati</div>
      <div class="stat-value text-2xl">{{ stats.completati }}</div>
    </div>

    <div class="stat py-2">
      <div class="stat-title">Cancellati</div>
      <div class="stat-value">{{ stats.cancellati }}</div>
    </div>
  </div>

  <div class="flex gap-2 shadow-interna ps-5 mt-10">
    <label class="flex items-center cursor-pointer">
      <input
        type="radio"
        name="customRadio"
        value=""
        class="hidden peer"
        checked
        (click)="resetStatus()"
      />
      <span
        class="px-4 py-1 border-b-2 text-gray-500 border-gray-700 transition-all peer-checked:border-primary peer-checked:text-primary"
        >Tutte</span
      >
    </label>
    <label
      *ngFor="let option of options"
      class="flex items-center cursor-pointer"
    >
      <input
        type="radio"
        name="customRadio"
        [value]="option.value"
        class="hidden peer"
        (change)="onOptionChange(option.value)"
      />
      <span
        class="px-4 py-1 border-b-2 text-gray-500 border-gray-700 transition-all peer-checked:border-primary peer-checked:text-primary"
        >{{ option.label }}</span
      >
    </label>
  </div>

  <!-- input filter -->
  <div class="flex mt-7 justify-between items-end">
    <div class="flex gap-4">
      <div>
        <label>Data Esatta</label>
        <input
          (click)="resetData()"
          [(ngModel)]="date"
          type="date"
          class="input input-bordered input-sm w-full max-w-xs"
        />
      </div>
      <div>
        <label>Data Inizio</label>
        <input
          (click)="resetDataEsatta()"
          [(ngModel)]="startDate"
          type="date"
          class="input input-bordered input-sm w-full max-w-xs"
        />
      </div>
      <div>
        <label>Data Fine</label>
        <input
          (click)="resetDataEsatta()"
          [(ngModel)]="endDate"
          type="date"
          class="input input-bordered input-sm w-full max-w-xs"
        />
      </div>
    </div>

    <button (click)="onload()" class="btn btn-primary">Filtra</button>
  </div>

  <!-- table -->
  <div class="overflow-x-auto bg-base-300 rounded-lg mt-6 px-3 pt-4 shadow-md">
    <table class="table">
      <!-- head -->
      <thead>
        <tr class="bg-secondary">
          <th class="rounded-s-md">N.Ticket</th>
          <th>Utente</th>
          <th>Data</th>
          <th>Oggetto</th>
          <th>Descrizione</th>
          <th class="rounded-e-md">Stato</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let item of tickets">
          <td class="flex-row whitespace-nowrap w-5">
            <p class="rounded-lg w-fit p-2 bg-secondary"># {{ item.id }}</p>
          </td>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img [src]="item.appUser.avatar || 'avatar.png'" />
                </div>
              </div>
              <div>
                <div class="font-bold">
                  {{ item.appUser.username }}
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="text-md">{{ item.createdAt }}</div>
          </td>
          <td>{{ item.object }}</td>
          <td class="text-md max-w-60 truncate">
            {{ item.description }}
          </td>
          <th class="flex justify-between items-center pt-6">
            <select
              (click)="isChange(statusSelect.value, item.status)"
              #statusSelect
              class="select select-bordered select-sm text-xs w-36"
            >
              <option selected>{{ item.status | titlecase }}</option>
              <option *ngFor="let stat of status" [value]="stat">
                {{ stat | titlecase }}
              </option>
            </select>
            <div class="cursor-pointer" (click)="modal.showModal()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#202431"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                >
                  <path
                    d="M44.4416,250.88c-21.71672,0 -39.3216,-17.60488 -39.3216,-39.3216v-167.1168c0,-21.71672 17.60488,-39.3216 39.3216,-39.3216h167.1168c21.71672,0 39.3216,17.60488 39.3216,39.3216v167.1168c0,21.71672 -17.60488,39.3216 -39.3216,39.3216z"
                  ></path>
                </g>
                <g
                  fill="#ffffff"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                >
                  <g transform="scale(10.66667,10.66667)">
                    <path
                      d="M5,3c-1.09306,0 -2,0.90694 -2,2v14c0,1.09306 0.90694,2 2,2h14c1.09306,0 2,-0.90694 2,-2v-7h-2v7h-14v-14h7v-2zM14,3v2h3.58594l-9.29297,9.29297l1.41406,1.41406l9.29297,-9.29297v3.58594h2v-7z"
                    ></path>
                  </g>
                </g>
              </svg>
            </div>
            <dialog #modal class="modal">
              <div class="modal-box">
                <h3 class="text-lg font-bold">{{ item.object }}</h3>
                <p class="py-4">{{ item.description }}</p>
              </div>
              <form method="dialog" class="modal-backdrop">
                <button>close</button>
              </form>
            </dialog>
            <button
              [disabled]="!isChange(statusSelect.value, item.status)"
              (click)="editStatus(item.id, statusSelect.value)"
              class="btn btn-outline btn-primary btn-sm"
            >
              Salva
            </button>
          </th>
        </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>N. Ticket</th>
          <th>Utente</th>
          <th>Data</th>
          <th>Oggetto</th>
          <th>Descrizione</th>
          <th>Stato</th>
        </tr>
      </tfoot>
    </table>
    <div
      *ngIf="pageable"
      class="border-t-2 border-t-secondary px-2 py-3 flex justify-between"
    >
      <!-- select size -->
      <div>
        <label>Items per pagina</label>
        <select
          class="select select-bordered select-sm text-xs w-16 ms-3"
          [(ngModel)]="currentSize"
        >
          <option *ngFor="let item of listSize" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
      <!-- button pagination -->
      <div *ngIf="pageable" class="join flex justify-end">
        <button (click)="decrementa()" class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm">
          Page {{ currentPage + 1 }}/{{ pageable.totalPages }}
        </button>
        <button (click)="incrementa()" class="join-item btn btn-sm">»</button>
      </div>
    </div>
  </div>
  <!-- Open the modal using ID.showModal() method -->
</section>
