<div class="flex items-center justify-center min-h-screen">
  <div
    class="flex w-[900px] max-w-4xl h-72 overflow-hidden rounded-lg shadow-lg"
  >
    <!-- Card 1 -->
    <div
      #card
      class="flex-1 flex-col justify-end fade-animation pb-10 hover:pb-4 w-8 transition-all duration-300 bg-red-500 flex items-center text-white text-2xl font-bold"
    >
      <p class="-rotate-90 transition-all duration-300">Mouse</p>
    </div>
    <!-- Card 2 -->
    <div
      #card
      data-role="tastiere"
      class="flex-1 flex-col justify-end fade-animation pb-10 hover:pb-4 w-8 transition-all duration-300 bg-green-500 flex items-center text-white text-2xl font-bold"
    >
      <p class="-rotate-90 transition-all duration-300 ps-5">Tastiere</p>
    </div>
    <!-- Card 3 -->
    <div
      #card
      class="flex-1 flex-col justify-end fade-animation pb-10 hover:pb-4 w-8 transition-all duration-300 bg-blue-500 flex items-center text-white text-2xl font-bold"
    >
      <p class="-rotate-90 transition-all duration-300">Cuffie</p>
    </div>
    <!-- Card 4 -->
    <div
      #card
      data-role="mousepad"
      class="flex-1 flex-col justify-end fade-animation pb-10 hover:pb-4 w-8 transition-all duration-300 bg-yellow-500 flex items-center text-white text-2xl font-bold"
    >
      <p class="-rotate-90 transition-all duration-300 ps-14">MousePad</p>
    </div>
    <!-- Card 5 -->
    <div
      #card
      class="flex-1 flex-col justify-end fade-animation pb-10 hover:pb-4 w-8 transition-all duration-300 bg-purple-500 flex items-center text-white text-2xl font-bold"
    >
      <p class="-rotate-90 transition-all duration-300">Switch</p>
    </div>
  </div>
</div>
