@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-animation:hover {
  p {
    animation: fadeInOut 450ms ease-in-out;
    padding: 0;
  }
}
.card-grayscale:hover ~ * {
  filter: grayscale(100%);
}

.list .card-grayscale:has(~ *:hover) {
  filter: grayscale(100%);
}

.hero-cat::before {
  content: "";
  position: absolute;
  left: 100px;
  top: -050px;
  transform: rotate(0deg);
  background-color: #0064ac;
  z-index: -1;
  width: 800px;
  height: 250px;
  filter: blur(150px);
}

@media screen and (max-width: 980px) {
  .hero-cat::before {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .hero-cat::before {
    width: 200px;
    height: 500px;
  }
}
