<div class="breadcrumbs text-sm mb-3">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/shopPage">Catalogo</a></li>
    <li *ngIf="product">{{ product.name }}</li>
  </ul>
</div>
<div *ngIf="product" class="grid grid-cols-5 grid-rows-4 gap-4">
  <div class="col-span-3 row-span-3 col-start-1 row-start-1">
    <div class="rounded-xl overflow-hidden">
      <div>
        <img src="{{ imgPreview }}" class="rounded-t-xl overflow-hidden" />
      </div>
      <div class="flex gap-3">
        <div *ngFor="let img of product.imageUrls" class="cursor-pointer">
          <img (click)="imgSwitch(img)" src="{{ img }}" class="h-16 mt-2" />
        </div>
      </div>
    </div>
    <!-- storico -->
  </div>
  <div class="p-2 row-span-3 col-start-4 col-span-2 row-start-1">
    <div>
      <h4 *ngIf="reseller" class="text-gray-600 font-bold">
        {{ reseller.nome }}
      </h4>
      <h2 class="text-3xl font-semibold">{{ product.name }}</h2>

      <h4 class="text-gray-600 mb-3">
        <span class="font-bold text-sm text-gray-600">Categoria:</span>
        {{ product.category.name }}
      </h4>
    </div>

    <div class="my-2">
      <label class="font-bold">Descrizione:</label>
      <p>{{ product.description }}</p>
    </div>

    <div class="my-4">
      <h2 class="text-3xl font-semibold">
        {{ product.price | currency : "EUR" }}
      </h2>
    </div>
    <button class="btn btn-primary rounded-sm w-full mt-2">Add to cart</button>
  </div>
</div>
